// Imports
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@400;700&family=Saira+Condensed&display=swap");

// Variables
$heading: "Playfair Display",
serif;
$sub-heading: "Poppins",
sans-serif;
$button: "Saira Condensed",
sans-serif;



:root {
    --heading-size      : 64px;
    --sub-heading-size  : 20px;
    // --main-color: #edbb5f;
    --main-color        : ;
    
    // --secondary-color: #644204;
    --secondary-color   : #8D775F;
    --black             : #fff;
    --white             : #8D775F;
    --side-margin       : 10%;
    --top-margin        : 5%;
    --para-text         : #e5e5e5;

    // --secondary-color: #002626;
    // --secondary-color: #644204;
    // --main-color: #f0f7ee;
    // --main-color: #edbb5f;
    --duration    : 1s;
    --nav-duration: calc(var(--duration) / 4);
    --ease        : cubic-bezier(0.215, 0.61, 0.355, 1);
    --space       : 1rem;
    --font-primary: $sub-heading;
    --font-heading: $heading;
    --font-size   : 1.125rem;
    --line-height : 1.5;

    @media screen and (max-width: 768px) {
        --side-margin: 5%;
    }
}

// Initialisation
* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

body {
    position        : relative;
    width           : 100%;
    min-height      : 100vh;
    overflow-x      : hidden;
    color           : var(--black);
    background-color: var(--white);
}

main {
    position: relative;
    width   : 100%;
}

h1 {
    font-family   : $heading;
    font-weight   : 700;
    text-transform: uppercase;
    font-size     : var(--heading-size);
    line-height   : 1.4em;

    @media screen and (max-width: 768px) {
        font-size: calc(var(--heading-size) * 0.6);
    }
}

h3 {
    font-family   : $sub-heading;
    font-weight   : 700;
    text-transform: uppercase;
    font-size     : var(--sub-heading-size);
    letter-spacing: 2px;
    line-height   : 1.8em;
}

p {
    font-family: $sub-heading;
    font-weight: 400;
    font-size  : var(--sub-heading-size);
    line-height: 1.8em;
}

@mixin button-style($color, $text-color) {
    border     : 3px solid $color;
    width      : 180px;
    height     : 50px;
    display    : grid;
    place-items: center;
    color      : var(--white);
    font-size  : var(--sub-heading-size);
    font-family: $button;
    margin-left: auto;
}

$green : #fca311;

// ::-webkit-scrollbar {
//     background: rgba($green, 0.2);
//     height    : 16px;
//     width     : 16px;

//     &:disabled {
//         background: transparent;
//     }
// }

// ::-webkit-scrollbar-track {
//     height: 20px;
//     width : 20px;
// }

// ::-webkit-scrollbar-thumb {
//     background   : rgba($green, 0.8);
//     border-radius: 20px;

//     &:hover {
//         background: rgba($green, 0.9);
//     }

//     &:active {
//         background: rgba($green, 1);
//     }
// }

// ::-webkit-scrollbar-thumb:window-inactive {
//     background: rgba($green, 0.2);
// }